body{
    background-color: black;

}
p{
    color:white;
    text-align: center;
}
img{
    border: 5px solid white;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;

}
h1{
    color: white;
    font-family:"Libre Baskerville", serif;
    text-align: center;
}