.color-title {
    font-weight: normal;
}
#red{
    color :red;

}
#blue{
    color :blue;

}
#orange{
    color :orange;

}
#green{
    color :green;

}
#purple{
    color :purple;

}
#yellow{
    color :yellow;

}